@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  body{
    background-image: url(images/Hero-bg.png);

  }
  main{
    text-align: center;
  }
  .hardy1{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
   
  }
  .hardy2{
    margin: 36px 211px  231px 35px;
    
   
  }
  .hardy3{
    color: #0D1321;
    font-size: 16px;
    
  }
  
  .btn1{
    background-color: #0D1321;
    color:#FFFFFF ;
    font-size: 20px;
    font-weight: 400;
    width: 276px;
   height: 65px;
   border-radius: 8px;

  }