@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  body{
    background-image: url(images/Hero-bg.png);
    background-size:contain;
    background-repeat: no-repeat;

  }
  main{
    text-align: center;
  }
  .hardy1{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
   
  }
  .hardy2{
    margin: 36px 211px  231px 35px;
    
   
  }
  .hardy3{
    color: #0D1321;
    font-size: 16px;
    
  }
  
  .btn1{
    background-color: #0D1321;
    color:#FFFFFF ;
    font-size: 20px;
    font-weight: 400;
    width: 276px;
   height: 65px;
   border-radius: 8px;

  }
  .hardy4 h1{
    color:#0D1321 ;
    font-size: 32px;
    font-weight: 800;

  }
  .hardy4 p{
    color:#0D1321 ;
    font-size: 16px;
    font-weight: 400;
  }
  .hardy5{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  #hardy6{
    flex-direction: row-reverse;

  }
  #hardy7{
    flex-direction: row-reverse;
  }
  .hardy5 h1{
    color:#0D1321 ;
    font-size: 24px;
    font-weight: 400;
  }
  .hardy5 p{
    color: #0D1321;
    font-size: 16px;
  }
  .hardy8{
    background-color:white;
    margin: 102px 248px 90px 52px;
  }
  .hardy9 button{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);

  }
  .hardy10 button{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);

  }
  .hardy11 button{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);


  }
  .hardy12 h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
  }
  .hardy12 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
  }
  .hardy12 iframe{
    margin-top: 48px;
  }
  .hardy13-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 149px;
    max-width: 1140px;
    margin-bottom: 111px;
}

.hardy13-content p {
    margin-bottom: 48px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.hardy13-content h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.hardy13-card-border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.hardy13-card1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    width: 364px;
}
.hardy13-card2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    width: 364px;
}
.hardy13-card3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    width: 364px;
}

.card {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
}

.card h1 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.card p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

.hardy14 h1{
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
.hardy14 p{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 16px;

}
#feedback{
  width: 313px;
  height: 19px;
  color: (255, 255, 255);
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  border-style: none;
  padding: 19px 20px 19px 20px;
  margin: 0px 10px;

}
#text1{
  width: 120px;
 height: 58px;
 padding: 17px 20px 17px 20px;
 border-radius: 8px;
 color: rgb(13, 19, 33);
 font-size: 20px;
font-weight: 600;
border-style: none;

}
.hardy15{
  padding: 19px 20px 19px 20px;
  margin: 64px 48px;
}
.hardy16{
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 8px;
  height: auto;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  